Source: smapi
Section: libs
Priority: optional
Maintainer: Pavel Andreew <sfpavel@users.sourceforge.net>
Build-Depends: debhelper (>> 4.0.0), binutils, huskybase(<< 2.0-0)
Standards-Version: 3.5.8

Package: libsmapi2
Architecture: any
Depends: ${shlibs:Depends}
Suggests: libsmapi2-dev
Description: MsgAPI for the Husky-Packages
 smapi is a modified message api for *.MSG, SQUISH (C) and JAM-Messagebase
 formats. It is required for all other Husky-Software.

Package: libsmapi2-dev
Section: devel
Architecture: any
Depends: libsmapi2(=${Source-Version}), libc6-dev, huskybase(<< 2.0-0)
Conflicts: libsmapi2cur-dev, huskybase(>> 2.0-0)
Description: MsgAPI for the Husky-Packages
 smapi is a modified message api for *.MSG, SQUISH (C) and JAM-Messagebase
 formats. It is required for all other Husky-Software.
 .
 This Package holds the Development files. Only needed if you want to compile
 other Husky-Packages.
