Source: smapi-cur
Section: libs
Priority: optional
Maintainer: Stanislav Maslovski <stanislav.maslovski@gmail.com>
Build-Depends: debhelper (>> 4.0.0), binutils, libhusky-dev (>> 1.9-0), huskybase (>> 2.0-0)
Standards-Version: 3.6.1

Package: libsmapi2cur
Architecture: any
Depends: ${shlibs:Depends}
Suggests: libsmapi2cur-dev
Description: MsgAPI for the Husky-Packages
 smapi is a modified message api for *.MSG, SQUISH (C) and JAM-Messagebase
 formats. It is required for all other Husky-Software.

Package: libsmapi2cur-dev
Section: libdevel
Architecture: any
Depends: libsmapi2cur(=${Source-Version}), libc6-dev, libhusky-dev (>> 1.9-0), huskybase (>> 2.0-0)
Provides: libsmapi-dev
Conflicts: libsmapi-dev, libsmapi2-dev
Replaces: libsmapi2-dev
Description: MsgAPI for the Husky-Packages
 smapi is a modified message api for *.MSG, SQUISH (C) and JAM-Messagebase
 formats. It is required for all other Husky-Software.
 .
 This Package holds the Development files. Only needed if you want to compile
 other Husky-Packages.
