Source: smapi
Section: libs
Priority: optional
Maintainer: Joerg Jaspert (JJ) <joerg@goliathbbs.dnsalias.net>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.5.2

Package: smapi
Architecture: any
Depends: ${shlibs:Depends}
Description: MsgAPI for the Husky-Packages (unstable)
 smapi is a modified message api for *.MSG, SQUISH (C) and JAM-Messagebase
 formats. It is required for all other Husky-Software.
 .
 This is the UNSTABLE Release.

